body {
	margin: 20px 20% 0 20%;
	border: 20px solid #bdc3c7;
	padding: 0 20px 0 20px;
	font-family: Verdana;
	font-size: 12px;
}

.intro {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

h2 {
	font-weight: 800;
	font-size: 22px;
	color: #2c3e50;
}

h3 {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	padding-top: 10px;
}

hr {
	border: 1px solid rgb(231, 230, 230);
}